{{- /*
  Renders a text box for adding a new Player, as well as a table displaying all saved players.

  Data:
    .: []Player
*/ -}}

{{define "title"}}Players{{end}}

{{define "main"}}
    <h2>Viewing Players</h2>
    <form hx-post="/players/new" hx-target="#error" novalidate>
        <label>
            Add a player: <input type="text" name="name" placeholder="New player name..."/>
        </label>
        <button>Add Player</button>
    </form>
    <div id="error" style="color:red" hx-swap="innerHTML"></div>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody hx-confirm="Are you sure?" hx-target="closest tr" hx-swap="outerHTML">
        {{range .}}
            <tr>
                <td><a href="/players/{{.ID}}">{{.Name}}</a></td>
                <td><a href="/players/{{.ID}}">Edit</a></td>
                <td><button hx-delete="/players/{{.ID}}">Delete</button></td>
            </tr>
        {{end}}
        </tbody>
    </table>
{{end}}