{{- /*
  Renders a form that allows for a tournament's tier to be selected.

  Data:
    .TournamentID: int64
    .Tiers:        []Tier
        Represents all the available tiers.
*/ -}}

{{define "tier"}}
    <form hx-put="/tournaments/{{.TournamentID}}/tier"
          hx-confirm="Entrant points will be recalculated. Any unsaved entrant data will be lost. Continue?"
          hx-target="this" hx-swap="outerHTML">
        <div>
            <label for="tier">Tier: </label>
            <select name="tier" id="tier">
                {{range .Tiers}}
                    <option value="{{.ID}}">{{.Name}}</option>
                {{end}}
            </select>
            <button>Submit</button>
            <button hx-get="/tournaments/{{.TournamentID}}/tier" hx-confirm="unset">Cancel</button>
        </div>
    </form>
{{end}}