{{- /*
  Renders a text box for adding a new Tournament, as well as a table displaying all saved tournaments.

  Data:
    .:                  []Preview
    Preview.ID:         int64
    Preview.Name: string
    Preview.Tier:       string

  Previews are subsets of Tournament objects.
*/ -}}

{{define "title"}}Tournaments{{end}}

{{define "main"}}
    <h2>Viewing Tournaments</h2>
    <form hx-post="/tournaments/new" hx-target="#error" novalidate>
        <label>
            Add a tournament: <input type="text" name="url" placeholder="Paste tournament link..."/>
        </label>
        <button>Add Tournament</button>
    </form>
    <div id="error" style="color: red" hx-swap="innerHTML">
        {{- /* If a Tournament could not be created from the submitted link, an HTML response will be sent and rendered here. */ -}}
    </div>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Tier</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody hx-confirm="Deleting a tournament will delete all of its entrants. Continue?" hx-target="closest tr" hx-swap="outerHTML">
        {{range .}}
            <tr>
                <td><a href="/tournaments/{{.ID}}">{{.Name}}</a></td>
                <td>{{.Tier}}</td>
                <td><a href="/tournaments/{{.ID}}">Edit</a></td>
                <td><button hx-delete="/tournaments/{{.ID}}">Delete</button></td>
            </tr>
        {{end}}
        </tbody>
    </table>
{{end}}