{{- /*
  Renders tournament information, including name, URL, tier, entrants (with associated player) and their points earned.
  Each entrant has an associated "edit" button that allows the user to change their associated player.
  The tournament tier also has an edit button that allows the user to change the tier.

  Data:
    .Tourney:  []Tournament
    .Entrants: []Entrant
    .Points:   map[int]int
        Maps a player's placement to the number of points they should receive.
*/ -}}

{{define "title"}}{{.Tourney.Name}}{{end}}

{{define "main"}}
    <h2>{{.Tourney.Name}}</h2>
    <p><a href="{{.Tourney.URL}}">{{.Tourney.URL}}</a></p>
    <p hx-target="this" hx-swap="outerHTML">
        Tier: {{.Tourney.Tier.Name}}
        <button hx-get="/tournaments/{{.Tourney.ID}}/tier/edit">Edit</button>
    </p>
    <div id="error" style="color: red"></div>
    <p>Entrants: {{len .Entrants}}</p>
    <h3>Entrants</h3>
    <table>
        <thead>
        <tr>
            <th>Entrant</th>
            <th>Player</th>
            <th>Points Earned</th>
            <th>Placing</th>
            <th></th>
        </tr>
        </thead>
        <tbody hx-target="closest tr" hx-swap="outerHTML">
        {{range .Entrants}}
            <tr>
                <td>{{.Name}}</td>
                <td>{{.PlayerName.String}}</td>
                <td>{{index $.Points .Placement}}</td>
                <td>{{.Placement}}</td>
                <td>
                    <button hx-get="/entrants/{{.ID}}/player/edit">Edit</button>
                </td>
            </tr>
        {{end}}
        </tbody>
    </table>
{{end}}

{{- /*
  Displays a Tier, with a button that swaps this element to the tier editing form.
  The endpoint for the edit form (currently /tournaments/:id/tier/edit) is subject to change.

  Data:
    .Tier:         Tier
    .TournamentID: int64
*/ -}}
{{define "tier"}}
    <p hx-target="this" hx-swap="outerHTML">
        Tier: {{.Tier.Name}}
        <button hx-get="/tournaments/{{.TournamentID}}/tier/edit">Edit</button>
    </p>
{{end}}